<div class="bar">
	<div class="top-logo">WhoQuote</div>	
</div>

<div class="wrapper">
	{{!-- <h4 class="cat-title">Categories</h4> --}}
	{{#each vm.categories}}
		<section class="module parallax" style="background-image: url(/images/{{slug}}.jpg)">
		  <div class="mod-container">
		    <h1>{{name}}</h1>
		  </div>
		</section>
	{{/each}}
</div>