<div class="background"></div>

<div class="container">
<div class="row">
<a href="/" class="logo">
	WhoQuote
</a>
</div>

	<div class="row">
		<div class="action" style="transform: translate(0%, 300%);">PLAY</div>
	</div>
</div>