<div class="bar">
	<a href="/" target="_parent"><div class="top-logo">WhoQuote</div></a>
	<div class="gh"><i class="fa fa-github"></i></div>
</div>
<div class="wrapper">
	<div class="row">
		<div class="image-container col-sm-6 col-xs-8 col-sm-offset-3 col-xs-offset-2">
			<div class="results-container">
				<div class="row results">
					<div class="success col-xs-4"><h1>2</h1></div>
					<div class="percent col-xs-4">
						<h3>40%</h3>
						<h3 class="message">Not bad!</h3>
						<div class="btn-group">
							<a class="share-btn" href="#"><i class="fa fa-facebook"></i></a>
							<a class="share-btn" href="#"><i class="fa fa-twitter"></i></a>
							<a class="share-btn" href="#"><i class="fa fa-code-fork"></i></a>
						</div>
					</div>
					<div class="fail col-xs-4"><h1>3</h1></div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			<h3>Previous Plays</h3>
			<table class="table table-condensed">
				<thead>
				<tr>
					<th>#</th>
					<th>Score</th>
					<th>Date</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>1</td>
					<td>4 / 5</td>
					<td>05/11/2016</td>
				</tr>
				<tr>
					<td>2</td>
					<td>3 / 5</td>
					<td>05/11/2016</td>
				</tr>
				<tr>
					<td>3</td>
					<td>2 / 5</td>
					<td>05/11/2016</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div id="action-btn" class="action">PLAY AGAIN</div>
	</div>
</div>
</div>