<div class="bar">
	<div class="top-logo">WhoQuote</div>	
</div>

<div class="wrapper">
	{{!-- <h4 class="cat-title">Categories</h4> --}}
	{{#each vm.categories}}
		<form action="/game" method="post">
			<input type="hidden" name="category" value="{{slug}}"/>
			<input type="hidden" name="user" value="testUser"/>
			{{!-- <input type="submit" class="btn btn-default"> --}}
			<section id="{{slug}}" class="parallax" style="background-image: url(/images/{{slug}}.jpg)" onClick="javascript:this.parentNode.submit();">
			  <div class="mod-container">
			    <h1>{{name}}</h1>
			  </div>
			</section>
		</form>
	{{/each}}
</div>