@painter: "sytles/fonts/SignPainter.otf";

@font-face {
    font-family: SignPainter;
    src: url(@painter);
}

html, body {
	height: 100%;
}

body {
  font-family: Helvetica Neue, Arial, sans serif;
  background-color: #F5F8FA;
  color: #303030;
}

.bar {
    height: 45px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #0084B4;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    

	.top-logo {
		font-family: SignPainter, Helvetica Neue;
	    font-size: 3rem;
	    line-height: 45px;
	    text-align: center;
	}
}

.wrapper {
  padding: 45px 0 0;
}
