@import 'variables.less';

.background-image {
	background-color: @main;
	height: 100%;
  width: 100%;
}

.logo {
  display: block;
  text-indent: -9999px;
  width: 280px;
  height: 196px;
  background: url(@logo);
  background-size: 280px 196px;
  margin: 0 auto;
  transform: translate(0,75%);
}
