@import 'variables.less';

.background {
	background-color: @main;
  position: absolute;
  top: -10%;
  height: 110%;
  right: 0;
  left: 0;
  z-index: 9999;

  & .action {
    transform: translate(0%, 300%);
  }
}

.logo {
  display: block;
  text-indent: -9999px;
  width: 280px;
  height: 196px;
  background: url(@logo);
  background-size: 280px 196px;
  margin: 0 auto;
  transform: translate(0,75%);
}
